@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f5f5f5;
    color: black;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.8rem;
}
nav{
    padding: 1rem;
    background-color: blur(10px);
    top: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-in-one{
    width: 20%;
    /* background-color: red; */
}
.nav-in-one h1{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav-in-one a{
    text-decoration: none;
    color: black;
}
.nav-in-one a:hover{
    color: blue;
}
.nav-in-two{
    width: 15%;
    display: flex;
    justify-content: space-between;
    margin-right: 4rem;
    /* background-color: red; */
}
.nav-in-two a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.nav-in-two a:hover{
    color: blue;
}
.nav-in-three{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-in-three-in{
    padding: 1rem;
    /* background-color: blue; */
    border-radius: 5px;

}
.nav-in-three-in i{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.nav-in-three-in i:hover{
    color: blue;
}
/* main section here */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.main-in{
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
    display: flex;
}
.main-in-one{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: red; */
}
.main-in-one p{
    font-size: 1.2rem;
    font-weight: 500;
    /* margin: 0.3rem; */
}
.main-in-one h1{
    font-size: 4rem;
    font-weight: 700;
    /* margin: 0.3rem; */
}
.main-in-one span{
    color: blue;
}
.main-in-one h2{
    font-size: 1.5rem;
    font-weight: 300;
    /* margin: 0.3rem; */
}
.main-in-one button{
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.main-in-one button a{
    text-decoration: none;
    color: black;
}
.main-in-one button:hover{
    background-color: blue;
    color: white;
}
.main-in-one button:hover a{
    color: white;
}
.main-in-two{
    padding: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-in-two-in{
    width: 80%;
    /* background-color: red; */
    border-radius: 20px;
}
.main-in-two-in img{
    width: 100%;
    border-radius: 20px;
}
/* skills section starts here */
section#Skills{
    height: 100vh;
    /* margin-top: 7rem; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
skills-in{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
skills-heading{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:1rem;
    margin-left: 2rem;
}
skills-heading h1{
    font-size: 3rem;
    font-weight: 700;
}
skills-heading span{
    color: blue;
}
skills-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
    gap: 1rem;
}
skills-box{
    /* background-color: red; */
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 1rem;
}
skills-box h1{
    font-size: 1.5rem;
    font-weight: 700;
}
skills-box p{
    font-size: 1.2rem;
    font-weight: 200;
}
/* contact modal css starts here */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-in{
    width: 30%;
    /* margin: 0 auto; */
    /* margin-top: 10%; */
    background-color: #f5f5f5;
    margin-top: 10%;
    margin-left: 35%;
    padding: 1rem;
    border-radius: 10px;
}
.modal-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.modal-heading p{
    font-size: 1.5rem;
    font-weight: 700;
}
.modal-heading span{
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
.modal-content{
    width: 100%;
    padding: 1rem;
    display: flex;
}
.modal-content input{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid black;
    outline: none;
}
.modal-content textarea{
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border-radius: 10px;
}
.modal-content button{
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
}
.modal-in-one{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* footer starts here */
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;
    color: white;
}
.footer-in-one{
    width: 30%;
}
.footer-in-two{
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 0.5rem;
}
.footer-in-two a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}